/* font-family: 'Open Sans', sans-serif; */
body,
html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    background-image: url("img/bg/Layer0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.head {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
}

.join {
    color: white;
    margin-left: 600px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.join p:first-child {
    font-size: 30px;
}
.join p {
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.join p:nth-child(2) {
    font-size: 10px;
}

.join_now {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    width: 80px;
}


.first {
    position: absolute;
    left: -20px;
    top: 0;

}
.logo {
    position: relative;
    z-index: 10;
    margin-left: -90px;
}

.circle_first {

}

.circle_first img {
    width: 513px;
    height: 582px;
}

.circle_second img {
    width: 209px;
    height: 427px;
}

.circle_second {
    position: absolute;
    left: 855px;
    top: 160px;
}

.content {

    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
}

.content h1 {
font-size: 20px;
    font-weight: normal;
}

.content p {
    color: #404040;
    font-size: 10px;
    margin-bottom: 40px;
}
.content img {
    margin-bottom: 50px;
}

.row {
    display: flex;
    color: white;
    line-height: 1.5;
}

.gray {
    background-color: #404040;
    padding: 20px 20px 40px 80px;
}

.pink {
    background-color: #f74c55;
    padding: 20px;
}

.green {
    background-color: #2d5f3b;
    padding: 20px 80px 40px 20px;
}

.gray h1,
.pink h1,
.green h1 {
    display: inline-block;
    font-size: 20px;

}

.row_title {
    display: flex;
    align-items: center;

}

.row_title img {
    margin-right: 10px;
}

.gray p,
.pink p,
.green p {
    font-size: 10px;
}

.plus_container {

    display: flex;
    justify-content: flex-end;
}

.plus {
    width: 25px;
    height: 25px;
    background-color: black;
    opacity: 0.5;
    position: relative;

}

.plus img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

.view {
    background-image: url("img/bg/Layer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    color: white;
    margin-top: -13px;
}

.view h1 {
    text-align: center;
    margin-top: 200px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.button {
    background-color: transparent;
    color: white;
    outline: none;
    border:  1px solid white;
    padding: 5px 20px 5px 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.strip {
    background-image: url("img/items/stripe.jpg");
    padding: 4px;
}

footer {
    text-align: center;
    font-size: 10px;
    padding: 20px;
}